body {
    display: flex;
    flex-direction: column;
}

center {
    width: 100%;
}

#res-container {
    margin-top: -600px; 
    width: 100%;
    box-sizing: border-box;
    text-align: right;
}

aside {
    display: inline-block;
    text-align: left;
    margin-bottom: 100%;
    padding-right: 400px;
    box-sizing: border-box;
    margin-left: 10px;
}

#res {
    width: 600px; 
    margin-top: 10px;
}

h1, h2, label, input, button, p, img {
    margin: 10px;
}
